<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Add discipline</title>
    </head>
    <body>
        <form id="addDisciplineFormDto" action="#" th:action="@{/admin/add-discipline}" method="post" th:object="${addDisciplineFormDto}">
            <label>
                Логін <input type="text" th:field="*{name}"/>
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
            </label>
            <br/>
            <button type="submit" form="addDisciplineFormDto">Додати</button>
        </form>
    </body>
</html>