<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Add discipline</title>
    </head>
    <body>
        <th:block th:fragment="admin-add-discipline">
            <form id="addDisciplineFormDto" action="#" th:action="@{/admin/add-discipline(userId=${userId})}" method="post" th:object="${addDisciplineFormDto}">
                <label th:if="${#fields.hasErrors('disciplineName')}" th:errors="*{disciplineName}"></label>

                <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>Назва дисципліни</p>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{disciplineName}"/>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <button class="btn btn-lg btn-success btn-block" type="submit" form="addDisciplineFormDto" th:text="'Додати'"></button>
                    </div>
                </div>
            </form>
        </th:block>
    </body>
</html>