<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <form id="fullUserFormDto" action="#" th:action="@{/admin/add-user}" method="post" th:object="${fullUserFormDto}">
            <label>
                Логін <input type="text" th:field="*{login}"/>
                <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
            </label>
            <br/>
            <label>
                Email <input type="email" th:field="*{email}"/>
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
            </label>
            <br/>
            <label>
                Пароль <input type="password" th:field="*{password}"/>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
            </label>
            <br/>
            <label>
                Прізвище <input type="text" th:field="*{lastName}"/>
                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
            </label>
            <br/>
            <label>
                Ім'я <input type="text" th:field="*{firstName}"/>
                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
            </label>
            <br/>
            <label>
                По батькові <input type="text" th:field="*{middleName}"/>
                <label th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></label>
            </label>
            <br/>
            <div>
                <label>
                    Роль <select th:field="*{userRole}">
                        <option th:text="''" th:value="null" selected="selected"></option>
                        <option th:each="userRoleValue: ${T(com.rx.dao.UserRole).values()}"
                            th:text="#{${userRoleValue.getString()}}"
                            th:value="${userRoleValue}"
                            th:if="${userRoleValue != T(com.rx.dao.UserRole).ADMINISTRATOR}"></option>
                    </select>
                    <label th:if="${#fields.hasErrors('userRole')}" th:errors="*{userRole}"></label>
                </label>
            </div>
            <br/>
            <button type="submit" form="fullUserFormDto">Додати</button>
        </form>
    </body>
</html>