<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <th:block th:fragment="admin-add-user">
            <form id="fullUserFormDto" action="#" th:action="@{/admin/add-user(userId=${userId})}" method="post" th:object="${fullUserFormDto}">
                <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                <label th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></label>
                <label th:if="${#fields.hasErrors('userRole')}" th:errors="*{userRole}"></label>

                <div class="container-fluid">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>Логін</p>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{login}"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>Email</p>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="email" th:field="*{email}"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>Пароль</p>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="password" th:field="*{password}"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>Прізвище</p>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{lastName}"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>Ім'я</p>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{firstName}"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>По батькові</p>
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" type="text" th:field="*{middleName}"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-2">
                            <p>Роль</p>
                        </div>
                        <div class="col-md-10">
                            <select class="form-control" th:field="*{userRole}">
                                <option th:text="''" th:value="null" selected="selected"></option>
                                <option th:each="userRoleValue: ${T(com.rx.dao.UserRole).values()}"
                                        th:text="#{${userRoleValue.getString()}}"
                                        th:value="${userRoleValue}"
                                        th:if="${userRoleValue != T(com.rx.dao.UserRole).ADMINISTRATOR}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <button class="btn btn-lg btn-success btn-block" type="submit" form="fullUserFormDto" th:text="'Додати'"></button>
                        </div>
                    </div>
                </div>
            </form>
        </th:block>
    </body>
</html>