<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Dashboard</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/custom.css" th:href="@{/css/custom.css}"/>
    </head>
    <body>
        <th:block th:fragment="dashboard">
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="dashboard-function col-md-4">
                            <div class="text-center">
                                <div class="box-top">
                                    <h2>Профіль</h2>
                                </div>
                                <div class="box-down">
                                    <p>Перегляд і редагування персональних даних.</p>
                                </div>
                                <a th:href="@{/user/profile(userId=${user.getId()})}">
                                    <span class="dashboard-function-hyper-span"></span>
                                </a>
                            </div>
                        </div>
                        <div class="dashboard-function col-md-4">
                            <div class="text-center">
                                <div class="box-top">
                                    <h2>Перелік дисциплін</h2>
                                </div>
                                <div class="box-down">
                                    <p>Переглянути усі дисципліни, які ведуться на кафедрі.</p>
                                </div>
                                <a th:href="@{/admin/disciplines(userId=${user.getId()})}">
                                    <span class="dashboard-function-hyper-span"></span>
                                </a>
                            </div>
                        </div>
                        <div class="dashboard-function col-md-4">
                            <div class="text-center">
                                <div class="box-top">
                                    <h2>Перелік користувачів</h2>
                                </div>
                                <div class="box-down">
                                    <p>Переглянути усіх користувачів.</p>
                                </div>
                                <a th:href="@{/admin/users(userId=${user.getId()})}">
                                    <span class="dashboard-function-hyper-span"></span>
                                </a>
                            </div>
                        </div>
                        <div class="dashboard-function col-md-4">
                            <div class="text-center">
                                <div class="box-top">
                                    <h2>Додати користувача</h2>
                                </div>
                                <div class="box-down">
                                    <p>Додати користувача.</p>
                                </div>
                                <a th:href="@{/admin/add-user(userId=${user.getId()})}">
                                    <span class="dashboard-function-hyper-span"></span>
                                </a>
                            </div>
                        </div>
                        <div class="dashboard-function col-md-4">
                            <div class="text-center">
                                <div class="box-top">
                                    <h2>Додати дисципліну</h2>
                                </div>
                                <div class="box-down">
                                    <p>Додати дисципліну.</p>
                                </div>
                                <a th:href="@{/admin/add-discipline(userId=${user.getId()})}">
                                    <span class="dashboard-function-hyper-span"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </th:block>
    </body>
</html>