<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Discipline</title>
    </head>
    <body>
        <div th:if="${discipline == null}">
            <p th:text="${'Discipline with id ' + id + ' is not exists'}"></p>
        </div>
        <div th:unless="${discipline == null}">
            <form id="fullDisciplineFormDto" th:action="@{'/admin/get-discipline/' + ${id}}" method="post"
                  th:object="${fullDisciplineFormDto}">
                <div>
                    <label>
                        Назва <input type="text" th:id="name" th:name="name" th:value="${discipline.getName()}"/>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                    </label>
                </div>

                <div>
                    <p th:text="'Викладачі'"></p>
                    <div th:each="user: ${discipline.getUsers()}">
                        <a th:text="#{${user.getUserRole().getString()}} + ' ' + |${user.getLastName()} ${user.getFirstName()} ${user.getMiddleName()}|"
                           th:href="@{'/admin/get-user/' + ${user.getId()}}"></a>
                        <span th:text="'  '"></span>
                        <a th:href="@{/admin/detach(disciplineId=${discipline.getId()}, userId=${user.getId()})}" th:text="'Відв\'язати'"></a>
                    </div>
                </div>

                <div>
                    <label>
                        Додати викладача <select th:field="*{userId}">
                            <option th:text="''" th:value="null" selected="selected"></option>
                            <option th:each="user: ${users}" th:value="${user.getId()}"
                                    th:text="#{${user.getUserRole().getString()}} + ' ' + |${user.getLastName()} ${user.getFirstName()} ${user.getMiddleName()}|">
                            </option>
                        </select>
                    </label>
                </div>

                <p>НМК</p>
                <div th:each="documentRootType: ${T(com.rx.misc.DocumentRootType).values()}"
                     th:if="${documentRootType.isCurriculum()}">
                    <p th:text="#{${documentRootType.getString()}}"></p>
                    <div th:each="documentSubType: ${T(com.rx.misc.DocumentSubType).resolveSubTypes(documentRootType)}">
                        <p th:text="#{${documentSubType.getString()}}"></p>
                        <div th:each="curriculum: ${discipline.getCurriculums()}"
                             th:if="${curriculum.getDocumentType() == T(com.rx.misc.DocumentTypeResolver).resolve(documentRootType, documentSubType)}">
                            <a th:text="${curriculum.getDocumentFilename()}"></a>
                            <br/>
                        </div>
                    </div>
                </div>

                <button type="submit" th:form="fullDisciplineFormDto" th:text="'Редагувати'"></button>

                <a th:text="'Видалити'" th:href="@{${'/admin/delete-discipline/' + discipline.getId()}}"></a>
            </form>

        </div>
    </body>
</html>