<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>User profile</title>
    </head>
    <body>
        <div th:if="${user == null}">
            <p th:text="${'User with id ' + id + ' is not exists'}"></p>
        </div>
        <div th:unless="${user == null}">
            <form id="fullUserFormDto" action="#" th:action="@{'/admin/user/get/' + ${id}}" method="post"
                  th:object="${fullUserFormDto}">

                <div>
                    <label>
                        Логін <input type="text" th:value="${user.getLogin()}" th:id="login" th:name="login"/>
                        <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
                    </label>
                </div>

                <th:block th:include="fragments/user :: user-form-fragment">
                    Default user form
                </th:block>

                <th:block th:include="fragments/user :: role-editing-fragment">
                    User role editing select
                </th:block>

                <th:block th:include="fragments/basic-fragments :: submit-button-fragment('Редагувати', 'fullUserFormDto')">

                </th:block>

                <th:block th:include="fragments/basic-fragments :: deleting-link-fragment('Видалити', '/admin/delete-user', ${user.getId()})">

                </th:block>

            </form>
        </div>
    </body>
</html>