<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>User profile</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/custom.css" th:href="@{/css/custom.css}"/>
    </head>
    <body>
        <th:block th:fragment="admin-user">
            <div th:if="${teacher == null}">
                <p th:text="${'User with id ' + id + ' is not exists'}"></p>
            </div>
            <div th:unless="${teacher == null}">
                <form id="fullUserFormDto" action="#" th:action="@{'/admin/get-user/' + ${id}(userId=${userId})}" method="post"
                      th:object="${fullUserFormDto}">

                    <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></label>

                    <div class="container-fluid">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Логін</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" th:value="${teacher.getLogin()}" th:id="login" th:name="login"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Email</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="email" th:id="email" th:name="email" th:value="${teacher.getEmail()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Пароль</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="password" th:id="password" th:name="password" th:value="${teacher.getPassword()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Прізвище</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" th:id="lastName" th:name="lastName" th:value="${teacher.getLastName()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Ім'я</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" th:id="firstName" th:name="firstName" th:value="${teacher.getFirstName()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>По батькові</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" th:id="middleName" th:name="middleName" th:value="${teacher.getMiddleName()}"/>
                            </div>
                        </div>
                        <div class="row form-group" th:with="userRoles = ${T(com.rx.dao.UserRole).values()}">
                            <div class="col-md-2">
                                <p>Роль</p>
                            </div>
                            <div class="col-md-10">
                                <select class="form-control" th:id="userRole" th:name="userRole">
                                    <option th:each="userRoleValue: ${T(com.rx.dao.UserRole).values()}"
                                            th:text="#{${userRoleValue.getString()}}"
                                            th:value="${userRoleValue}"
                                            th:selected="${userRoleValue == teacher.getUserRole()}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <button class="btn btn-lg btn-success btn-block" type="submit" th:form="'fullUserFormDto'" th:text="'Редагувати'"></button>
                            </div>
                            <div class="col-md-6">
                                <a class="remove-color discipline-link" th:href="@{${'/admin/delete-user/' + user.getId()}(userId=${userId})}">
                                    <span class="glyphicon glyphicon-remove-circle remove-color discipline-link" aria-hidden="true"></span> Видалити</a>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </th:block>

        <script src="../../static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
        <script src="../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>