<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <th:block th:fragment="submit-button-fragment(buttonText, formName)">
            <button type="submit" th:form="${formName}" th:text="${buttonText}"></button>
        </th:block>

        <th:block th:fragment="deleting-link-fragment(linkText, href, entityId)">
            <a th:text="${linkText}" th:href="@{${href + '/' + entityId}}"></a>
        </th:block>
    </body>
</html>