<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Нормативні акти</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>
        <th:block th:replace="nav :: nav">Navigation</th:block>
        <div class="container-fluid container-custom">
            <div class="row">
                <th:block th:replace="sidebar :: sidebar(${#authentication.principal.userRole})">Sidebar</th:block>
                <div class="col-md-10">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Нормативні акти</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <div class="list-group-item" th:each="act: ${acts}">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-link" role="button" th:href="@{/download(fileId=${act.getId()})}">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                                <span th:text="${act.getDocumentFilename()}"></span>
                                            </a>
                                            <a class="btn btn-danger" role="button" th:if="${user.getUserRole() == T(com.rx.dao.UserRole).METHODOLOGIST}" th:href="@{'/upload/delete-act/' + ${act.getId()}(userId=${user.getId()})}">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                <span>Видалити</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>