<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Перелік користувачів</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>

        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">

                <th:block th:replace="sidebar :: sidebar(${#authentication.principal.userRole})">Sidebar</th:block>

                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Перелік користувачів</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <div class="list-group-item"
                                         th:each="value: ${users}">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="discipline-link-nano btn btn-link"
                                                       th:href="@{${value.getUsername() != #authentication.principal.username ? '/admin/get-user/' + value.getId(): '/user/profile'}}">
                                                        <span class="glyphicon glyphicon-user"></span>

                                                        <th:block th:if="${value.getUsername() != #authentication.principal.username}">
                                                            <span th:text="#{${value.getUserRole().getString()}}"></span>
                                                            <span th:text="${value.getLastName()}"></span>
                                                            <span th:text="${value.getFirstName()}"></span>
                                                            <span th:text="${value.getMiddleName()}"></span>
                                                        </th:block>
                                                        <th:block th:unless="${value.getUsername() != #authentication.principal.username}">
                                                            <span th:text="#{${#authentication.principal.userRole.getString()}}"></span>
                                                            <span th:text="${#authentication.principal.lastName}"></span>
                                                            <span th:text="${#authentication.principal.firstName}"></span>
                                                            <span th:text="${#authentication.principal.middleName}"></span>
                                                        </th:block>
                                                    </a>
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="discipline-link-nano btn btn-danger"
                                                       th:href="@{${'/admin/delete-user/' + value.getId()}}"
                                                       onclick="return confirm('Ви впевнені, що хочете видалити?')">
                                                        <span class="glyphicon glyphicon-remove-circle"
                                                              aria-hidden="true"></span> Видалити</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>