<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Призначити викладача</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>
        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">
                <th:block th:replace="sidebar :: sidebar(${#authentication.principal.userRole})">Sidebar</th:block>

                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Призначити викладача</h3>
                            </div>
                            <div class="panel-body">
                                <div th:if="${discipline == null}">
                                    <p th:text="${'Discipline with id ' + id + ' does not exist'}"></p>
                                </div>
                                <div th:unless="${discipline == null}">

                                    <form id="fullDisciplineFormDto" th:action="@{'/admin/get-discipline/' + ${id}}"
                                          method="post"
                                          th:object="${fullDisciplineFormDto}">

                                        <div class="container-fluid">
                                            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                                                <p th:text="'Виникла помилка при введенні!'"></p>
                                            </div>
                                            <div th:if="${success}" class="alert alert-success">
                                                <p th:text="'Дисципліна успішно редагована!'"></p>
                                            </div>
                                            <div class="row form-group">
                                                <div class="div-offset col-md-1">
                                                    <p class="p-size">Назва</p>
                                                </div>
                                                <div th:class="${#fields.hasErrors('name') ? 'col-md-4 has-error has-feedback':'col-md-4'}">
                                                    <input id="name" class="form-control" type="text" th:id="name"
                                                           th:name="name" th:value="${discipline.getName()}"/>
                                                </div>
                                                <label class="col-md-4 control-label" for="name"
                                                       th:if="${#fields.hasErrors('name')}"
                                                       th:errors="*{name}"></label>
                                            </div>

                                            <div class="row form-group">
                                                <div class="div-offset col-md-1">
                                                    <p class="p-size">Призначити викладача</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control" th:field="*{teacherId}">
                                                        <option th:text="''" th:value="null"
                                                                selected="selected"></option>
                                                        <option th:each="user: ${users}" th:value="${user.getId()}"
                                                                th:text="#{${user.getUserRole().getString()}} + ' ' + |${user.getLastName()} ${user.getFirstName()} ${user.getMiddleName()}|">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <h3 class="form-group" th:text="'Викладачі'"></h3>
                                            <div class="form-group">

                                                <div class="list-group">
                                                    <div class="list-group-item" th:each="value: ${discipline.getUsers()}">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <a class="discipline-link-mini"
                                                                       th:href="@{'/admin/get-user/' + ${value.getId()}}">
                                                                        <span class="glyphicon glyphicon-user"></span>
                                                                        <span th:text="#{${value.getUserRole().getString()}} + ' ' + |${value.getLastName()} ${value.getFirstName()} ${value.getMiddleName()}|"></span>
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <a class="btn btn-info discipline-link-mini"
                                                                       th:href="@{/admin/detach(disciplineId=${discipline.getId()}, teacherId=${value.getId()})}"
                                                                       onclick="return confirm('Ви впевнені, що хочете відв\'язати')">
                                                                        <span class="glyphicon glyphicon-minus-sign discipline-link-mini"></span>
                                                                        Відв'язати
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    <button class="btn btn-lg btn-success btn-block" type="submit"
                                                            th:form="fullDisciplineFormDto">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                        <span th:text="'Редагувати'"></span>
                                                    </button>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="discipline-link-nano btn btn-lg btn-danger"
                                                       onclick="return confirm('Ви впевнені, що хочете видалити?')"
                                                       th:href="@{${'/admin/delete-discipline/' + discipline.getId()}}">
                                                        <span style="vertical-align: text-top;" class="glyphicon glyphicon-remove-circle"
                                                              aria-hidden="true"></span> Видалити</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>