<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Перелік дисциплін</title>

        <th:block th:replace="head :: head">Head</th:block>

    </head>
    <body>

        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">

                <th:block th:replace="sidebar :: sidebar(${#authentication.principal.userRole})">Sidebar</th:block>

                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Перелік дисциплін</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <div class="list-group-item" th:each="discipline: ${disciplines}">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="discipline-link-nano btn btn-link"
                                                       th:href="@{${'/admin/get-discipline/' + discipline.getId()}}">
                                                        <span class="glyphicon glyphicon-book"></span>
                                                        <span th:text="${discipline.getName()}"></span>
                                                    </a>
                                                </div>
                                                <div class="col-md-12">
                                                    <a class="discipline-link-nano btn btn-danger"
                                                       th:href="@{${'/admin/delete-discipline/' + discipline.getId()}}"
                                                       onclick="return confirm('Ви впевнені, що хочете видалити?')">
                                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Видалити</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>