<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Додати користувача</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>
        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">
                <th:block th:replace="sidebar :: sidebar(${#authentication.principal.userRole})">Sidebar</th:block>

                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Додати користувача</h3>
                            </div>
                            <div class="panel-body">

                                <form id="addUserFormDto" action="#" th:action="@{/admin/add-user}" method="post"
                                      th:object="${addUserFormDto}">
                                    <div class="container-fluid">
                                        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                                            <p th:text="'Виникла помилка при введенні!'"></p>
                                        </div>
                                        <div class="row form-group">
                                            <div class="div-offset col-md-1">
                                                <p class="p-size">Логін</p>
                                            </div>
                                            <div th:class="${#fields.hasErrors('username') ? 'col-md-4 has-error has-feedback':'col-md-4'}">
                                                <input id="username" class="form-control" type="text"
                                                       th:field="*{username}"/>
                                            </div>
                                            <label for="username" class="col-md-4 control-label"
                                                   th:if="${#fields.hasErrors('username')}"
                                                   th:errors="*{username}"></label>
                                        </div>

                                        <div class="row form-group">
                                            <div class="div-offset col-md-1">
                                                <p class="p-size">Пароль</p>
                                            </div>
                                            <div th:class="${#fields.hasErrors('password') ? 'col-md-4 has-error has-feedback':'col-md-4'}">
                                                <input id="password" class="form-control" type="password"
                                                       th:field="*{password}"/>
                                            </div>
                                            <label for="password" class="col-md-4 control-label"
                                                   th:if="${#fields.hasErrors('password')}"
                                                   th:errors="*{password}"></label>
                                        </div>

                                        <div class="row form-group">
                                            <div class="div-offset col-md-1">
                                                <p class="p-size">Email</p>
                                            </div>
                                            <div th:class="${#fields.hasErrors('email') ? 'col-md-4 has-error has-feedback':'col-md-4'}">
                                                <input id="email" class="form-control" type="email"
                                                       th:field="*{email}"/>
                                            </div>
                                            <label class="col-md-4 control-label" for="email"
                                                   th:if="${#fields.hasErrors('email')}"
                                                   th:errors="*{email}"></label>
                                        </div>
                                        <div class="row form-group">
                                            <div class="div-offset col-md-1">
                                                <p class="p-size">Прізвище</p>
                                            </div>
                                            <div th:class="${#fields.hasErrors('lastName') ? 'col-md-4 has-error has-feedback':'col-md-4'}">
                                                <input id="lastName" class="form-control" type="text"
                                                       th:field="*{lastName}"/>
                                            </div>
                                            <label class="col-md-4 control-label" for="lastName"
                                                   th:if="${#fields.hasErrors('lastName')}"
                                                   th:errors="*{lastName}"></label>
                                        </div>
                                        <div class="row form-group">
                                            <div class="div-offset col-md-1">
                                                <p class="p-size">Ім'я</p>
                                            </div>
                                            <div th:class="${#fields.hasErrors('firstName') ? 'col-md-4 has-error has-feedback':'col-md-4'}">
                                                <input id="firstName" class="form-control" type="text"
                                                       th:field="*{firstName}"/>
                                            </div>
                                            <label class="col-md-4 control-label" for="firstName"
                                                   th:if="${#fields.hasErrors('firstName')}"
                                                   th:errors="*{firstName}"></label>
                                        </div>
                                        <div class="row form-group">
                                            <div class="div-offset col-md-1">
                                                <p class="p-size">По батькові</p>
                                            </div>
                                            <div th:class="${#fields.hasErrors('middleName') ? 'col-md-4 has-error has-feedback':'col-md-4'}">
                                                <input id="middleName" class="form-control" type="text"
                                                       th:field="*{middleName}"/>
                                            </div>
                                            <label class="col-md-4 control-label" for="middleName"
                                                   th:if="${#fields.hasErrors('middleName')}"
                                                   th:errors="*{middleName}"></label>
                                        </div>

                                        <div class="row form-group">
                                            <div class="div-offset col-md-1">
                                                <p class="p-size">Роль</p>
                                            </div>
                                            <div th:class="${#fields.hasErrors('userRole') ? 'col-md-4 has-error has-feedback':'col-md-4'}">
                                                <select id="userRole" class="form-control" th:field="*{userRole}">
                                                    <option th:text="''" th:value="null" selected="selected"></option>
                                                    <option th:each="userRoleValue: ${T(com.rx.dao.UserRole).values()}"
                                                            th:text="#{${userRoleValue.getString()}}"
                                                            th:value="${userRoleValue}"></option>
                                                </select>
                                            </div>
                                            <label class="col-md-4 control-label" for="userRole"
                                                   th:if="${#fields.hasErrors('userRole')}"
                                                   th:errors="*{userRole}"></label>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <button class="btn btn-lg btn-success btn-block" type="submit"
                                                        form="addUserFormDto">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    <span th:text="'Додати'"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>