<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Перелік дисциплін</title>

        <th:block th:replace="head :: head">Head</th:block>

    </head>
    <body>

        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">

                <th:block th:replace="sidebar :: sidebar(${user.getUserRole()})">Sidebar</th:block>

                <div class="col-md-10">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Перелік дисциплін</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row list-element" th:each="discipline: ${disciplines}">
                                    <div class="col-md-12">
                                        <a class="discipline-link" th:text="${discipline.getName()}"
                                           th:href="@{${'/admin/get-discipline/' + discipline.getId()}(userId=${user.getId()})}"></a>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="remove-color discipline-link-mini " th:href="@{${'/admin/delete-discipline/' + discipline.getId()}(userId=${user.getId()})}">
                                            <span class="glyphicon glyphicon-remove-circle remove-color" aria-hidden="true"></span>Видалити</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>