<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Dashboard</title>
    </head>
    <body>
        <th:block th:fragment="dashboard(role)">
            <div class="col-md-8 main">
                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="dashboard-function col-md-3">
                                <div class="text-center">
                                    <div class="box-top">
                                        <h3>Профіль</h3>
                                    </div>
                                    <div class="box-down">
                                        <p>Переглянути і редагувати персональні дані.</p>
                                    </div>
                                    <a th:href="@{/user/profile(userId=${user.getId()})}">
                                        <span class="dashboard-function-hyper-span"></span>
                                    </a>
                                </div>
                            </div>
                            <th:block th:if="${user.getUserRole() != T(com.rx.dao.UserRole).ADMINISTRATOR}">
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Перелік дисциплін</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Переглянути дисципліни, які ведуться Вами.</p>
                                        </div>
                                        <a th:href="@{/discipline/disciplines(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Нормативні акти</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Переглянути усі прикази, розпорядження та інші нормативні акти.</p>
                                        </div>
                                        <a th:href="@{/user/acts(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Навчальні плани</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Переглянути усі навчальні плани.</p>
                                        </div>
                                        <a th:href="@{/user/syllabuses(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Завантаження ПН</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Завантажити педагогічні нагрузки.</p>
                                        </div>
                                        <a th:href="@{/upload/teaching-load(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${user.getUserRole() != T(com.rx.dao.UserRole).ADMINISTRATOR and user.getUserRole() != T(com.rx.dao.UserRole).ASSISTANT}">
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Завантаження НМК</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Завантажити документи, які відносяться до навчально-методичного комплексу.</p>
                                        </div>
                                        <a th:href="@{/upload/curriculum(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${user.getUserRole() == T(com.rx.dao.UserRole).METHODOLOGIST}">
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Завантаження НП</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Завантажити навчальні плани.</p>
                                        </div>
                                        <a th:href="@{/upload/syllabus(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Завантаження НА</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Завантажити нормативні акти.</p>
                                        </div>
                                        <a th:href="@{/upload/act(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${user.getUserRole() == T(com.rx.dao.UserRole).METHODOLOGIST} or
                                            ${user.getUserRole() == T(com.rx.dao.UserRole).HEAD_OF_DEPARTMENT}">
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Стан НМК</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Переглянути стан НМК кожної дисципліни.</p>
                                        </div>
                                        <a th:href="@{/report(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${user.getUserRole() == T(com.rx.dao.UserRole).ADMINISTRATOR}">
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Перелік дисциплін</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Переглянути усі дисципліни, які ведуться на кафедрі.</p>
                                        </div>
                                        <a th:href="@{/admin/disciplines(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Перелік користувачів</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Переглянути усіх користувачів.</p>
                                        </div>
                                        <a th:href="@{/admin/users(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Додати користувача</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Додати користувача.</p>
                                        </div>
                                        <a th:href="@{/admin/add-user(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="dashboard-function col-md-3">
                                    <div class="text-center">
                                        <div class="box-top">
                                            <h3>Додати дисципліну</h3>
                                        </div>
                                        <div class="box-down">
                                            <p>Додати дисципліну.</p>
                                        </div>
                                        <a th:href="@{/admin/add-discipline(userId=${user.getId()})}">
                                            <span class="dashboard-function-hyper-span"></span>
                                        </a>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </section>
            </div>
        </th:block>
    </body>
</html>