<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <div th:if="${discipline == null}">
            <p th:text="${'Discipline with id ' + id + ' is not exists'}"></p>
        </div>
        <div th:unless="${discipline == null}">
            <form id="fullDisciplineFormDto" th:action="@{'/admin/get-discipline/' + ${id}}" method="post"
                  th:object="${fullDisciplineFormDto}">
                <div>
                    <label>
                        Назва <input type="text" th:id="name" th:name="name" th:value="${discipline.getName()}"/>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                    </label>
                </div>
                <div>
                    <p th:text="'Викладачі'"></p>
                    <div th:each="user: ${discipline.getUsers()}">
                        <a th:text="#{${user.getUserRole()}} + ' ' + |${user.getLastName()} ${user.getFirstName()} ${user.getMiddleName()}|"
                            th:href="@{'/user/get/' + ${user.getId()}}"></a>
                    </div>
                </div>
                <div>
                    <label>
                        Додати викладача <select th:id="userId" th:name="userId">
                            <option th:text="''" th:value="null" selected="selected"></option>
                            <option th:each="user: ${users}" th:value="${user.getId()}"
                                    th:text="#{${user.getUserRole()}} + ' ' + |${user.getLastName()} ${user.getFirstName()} ${user.getMiddleName()}|">
                            </option>
                        </select>
                    </label>
                </div>
                <h2>НМК</h2>
                <div th:each="documentRootType: ${T(com.rx.misc.DocumentRootType).values()}"
                     th:if="${documentRootType.isCurriculum()}">
                    <h3 th:text="#{${documentRootType}}"></h3>
                    <div th:each="documentSubType: ${T(com.rx.misc.DocumentSubType).resolveSubTypes(documentRootType)}">
                        <h4 th:text="#{${documentSubType}}"></h4>
                        <div th:each="curriculum: ${discipline.getCurriculums()}"
                               th:if="${curriculum.getDocumentType() == T(com.rx.misc.DocumentTypeResolver).resolve(documentRootType, documentSubType)}">
                            <label th:text="${curriculum.getDocumentFilename()}"></label>
                            <br/>
                        </div>
                    </div>
                </div>
                <button type="submit" form="fullDisciplineFormDto">Редагувати</button>
                <a th:href="@{${'/discipline/delete-discipline/' + id}}">Видалити</a>
            </form>

        </div>
    </body>
</html>