<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Перелік дисциплін</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>

        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">

                <th:block th:replace="sidebar :: sidebar(${#authentication.principal.userRole})">Sidebar</th:block>

                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Перелік дисциплін</h3>
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-action discipline-link-mini"
                                       th:each="discipline: ${disciplines}"
                                       th:href="@{'/discipline/' + ${discipline.getId()}}">
                                        <div th:text="${discipline.getName()}">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>