<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Discipline</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>

        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">

                <th:block th:replace="sidebar :: sidebar(${user.getUserRole()})">Sidebar</th:block>

                <div class="col-md-8 main">
                    <div th:if="${discipline == null}">
                        <p th:text="${'Discipline with id ' + id + ' is not exists'}"></p>
                    </div>
                    <div class="container-fluid" th:unless="${discipline == null}">
                        <div>
                            <h3 th:text="|Назва дисципліни: ${discipline.getName()}|"></h3>
                        </div>

                        <p>НМК</p>

                        <div>
                            <div class="panel-group" id="accordion">
                                <th:block th:each="documentRootType: ${T(com.rx.misc.DocumentRootType).values()}"
                                          th:if="${documentRootType.isCurriculum()}"
                                          th:with="collapseId = ${'collapse' + (documentRootType.ordinal() - 2)}">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a th:text="#{${documentRootType.getString()}}" data-toggle="collapse"
                                                   data-parent="#accordion" th:href="@{'#' + ${collapseId}}"></a>
                                            </h4>
                                        </div>
                                        <div th:id="${collapseId}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <table class="table">
                                                    <tr th:each="documentSubType: ${T(com.rx.misc.DocumentSubType).resolveSubTypes(documentRootType)}"
                                                        th:with="anotherCollapseId = ${'collapse' + (documentRootType.ordinal() - 2) + (documentSubType.ordinal())}">
                                                        <td>
                                                            <p th:text="#{${documentSubType.getString()}}"></p>
                                                            <div th:each="curriculum: ${discipline.getCurriculums()}"
                                                                 th:if="${curriculum.getDocumentType() == T(com.rx.misc.DocumentTypeResolver).resolve(documentRootType, documentSubType)}">
                                                                <a th:text="${curriculum.getDocumentFilename()}"></a>
                                                                <br/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>