<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Головна</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>
        <th:block th:replace="nav :: nav">Navigation</th:block>
        <div class="container-fluid container-custom">
            <div class="row">
                <th:block th:replace="sidebar :: sidebar(${user.getUserRole()})">Sidebar</th:block>
                <th:block th:replace="dashboard :: dashboard(${user.getUserRole()})">Dashboard</th:block>
            </div>
        </div>
    </body>
</html>