<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Сторінка авторизації</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>
        <div class="jumbotron main">
            <div class="container-fluid center">
                <div class="row">
                    <div class="col-md-3 center-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Сторінка авторизації</h3>
                            </div>
                            <div class="panel-body">
                                <form th:action="@{/login}" method="post">

                                    <div th:if="${error != null}" class="alert alert-danger">
                                        <p th:text="#{${error}}"></p>
                                    </div>

                                    <div th:if="${msg != null}" class="alert alert-success">
                                        <p th:text="#{${msg}}"></p>
                                    </div>

                                    <div th:if="${error == null and msg == null}" class="alert alert-info">
                                        <p th:text="#{user.username.greetings}"></p>
                                    </div>

                                    <fieldset>
                                        <div class="row">
                                            <div th:class="${'col-md-12 form-group'}">
                                                <input id="username" name="username" class="form-control col-md-12"
                                                       placeholder="Логін" type="text"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div th:class="${'col-md-12 form-group'}">
                                                <input id="password" name="password" class="form-control col-md-12"
                                                       placeholder="Пароль" type="password"/>
                                            </div>
                                        </div>

                                        <input class="btn btn-lg btn-success btn-block" name="submit" type="submit"
                                               value="Увійти"/>

                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>