<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th th:text="|Назва дисципліни|"
                    th:rowspan="2"></th>
                <th th:each="value: ${T(com.rx.misc.DocumentRootType).values()}"
                    th:with="subTypeCount = ${T(com.rx.misc.DocumentSubType).resolveSubTypes(value).length}"
                    th:colspan="${subTypeCount}"
                    th:rowspan="${subTypeCount > 1 ? 1 : 2}"
                    th:text="#{${value}}"
                    th:if="${value.isCurriculum()}"></th>
            </tr>
            <tr>
                <th th:each="value: ${T(com.rx.dao.DocumentType).values()}"
                    th:if="${T(com.rx.misc.DocumentRootType).resolve(value).isCurriculum()
                        and T(com.rx.misc.DocumentSubType).resolve(value) != T(com.rx.misc.DocumentSubType).NO_SUB_TYPE}"
                    th:text="#{${T(com.rx.misc.DocumentSubType).resolve(value)}}"></th>
            </tr>
            <tr th:each="curriculumState: ${curriculumStates}">
                <th>
                    <a th:text="${curriculumState.getDisciplineName()}" th:href="@{'/discipline/get/' + ${curriculumState.getDisciplineId()}}"></a>
                </th>
                <th th:each="value: ${T(com.rx.dao.DocumentType).values()}"
                    th:if="${T(com.rx.misc.DocumentRootType).resolve(value).isCurriculum()}"
                    th:text="${curriculumState.getCurriculumState().get(value) ? '+' : '-'}"></th>
            </tr>
        </table>
    </body>
</html>