<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Поточний стан НМК</title>
        <th:block th:replace="head :: head">Head</th:block>
    </head>
    <body>

        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">

                <th:block th:replace="sidebar :: sidebar(${user.getUserRole()})">Sidebar</th:block>

                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">Поточний стан НМК</div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tr th:with="list = ${#lists.toList(T(com.rx.misc.DocumentRootType).values())}">
                                    <th th:text="|Назва дисципліни|" th:rowspan="2">
                                    </th>
                                    <th:block th:each="documentType: ${T(com.rx.dao.DocumentType).values()}"
                                              th:with="documentRootType = ${T(com.rx.misc.DocumentRootType).resolve(documentType)},
                            subTypeCount = ${T(com.rx.misc.DocumentSubType).resolveSubTypes(documentRootType).length}">
                                        <th th:colspan="${subTypeCount}"
                                            th:rowspan="${subTypeCount > 1 ? 1 : 2}"
                                            th:if="${list.remove(documentRootType) and documentRootType.isCurriculum()}">
                                            <p th:text="#{${documentRootType.getString()}}"></p>
                                        </th>
                                    </th:block>
                                </tr>
                                <tr>
                                    <th:block th:each="documentType: ${T(com.rx.dao.DocumentType).values()}"
                                              th:with="documentSubType = ${T(com.rx.misc.DocumentSubType).resolve(documentType)}">
                                        <th th:if="${T(com.rx.misc.DocumentRootType).resolve(documentType).isCurriculum()
                                and documentSubType != T(com.rx.misc.DocumentSubType).NO_SUB_TYPE}">
                                            <p th:text="#{${documentSubType.getString()}}"></p>
                                        </th>
                                    </th:block>
                                </tr>
                                <tr th:each="curriculumState: ${curriculumStates}">
                                    <td>
                                        <a th:text="${curriculumState.getDisciplineName()}" th:href="@{'/discipline/' + ${curriculumState.getDisciplineId()}(userId=${user.getId()})}"></a>
                                    </td>
                                    <th:block th:with="map = ${curriculumState.getCurriculumState()}">
                                        <td th:each="documentType: ${T(com.rx.dao.DocumentType).values()}" th:if="${T(com.rx.misc.DocumentRootType).resolve(documentType).isCurriculum()}">
                                            <p th:text="${map.get(documentType) ? '+' : '-'}"></p>
                                        </td>
                                    </th:block>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>