<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Sidebar</title>
    </head>
    <body>
        <th:block th:fragment="sidebar(role)">
            <div class="col-md-2 sidebar sidebar-custom">
                <ul class="nav nav-sidebar nav-pills nav-stacked">
                    <li>
                        <a th:href="@{/(userId=${user.getId()})}">Головна</a>
                    </li>
                    <li>
                        <a th:href="@{/user/profile(userId=${user.getId()})}">Профіль</a>
                    </li>
                    <th:block th:if="${user.getUserRole() != T(com.rx.dao.UserRole).ADMINISTRATOR}">
                        <li>
                            <a th:href="@{/discipline/disciplines(userId=${user.getId()})}">Перелік дисциплін</a>
                        </li>
                        <li>
                            <a th:href="@{/user/acts(userId=${user.getId()})}">Нормативні акти</a>
                        </li>
                        <li>
                            <a th:href="@{/user/syllabuses(userId=${user.getId()})}">Навчальні плани</a>
                        </li>
                        <li>
                            <a th:href="@{/upload/teaching-load(userId=${user.getId()})}">Завантаження пед. нагрузок</a>
                        </li>
                    </th:block>
                    <th:block th:if="${user.getUserRole() != T(com.rx.dao.UserRole).ADMINISTRATOR and user.getUserRole() != T(com.rx.dao.UserRole).ASSISTANT}">
                        <li>
                            <a th:href="@{/upload/curriculum(userId=${user.getId()})}">Завантаження НМК</a>
                        </li>
                    </th:block>
                    <th:block th:if="${user.getUserRole() == T(com.rx.dao.UserRole).METHODOLOGIST}">
                        <li>
                            <a th:href="@{/upload/syllabus(userId=${user.getId()})}">Завантаження нав. планів</a>
                        </li>
                        <li>
                            <a th:href="@{/upload/act(userId=${user.getId()})}">Завантаження норм. актів</a>
                        </li>
                    </th:block>
                    <th:block th:if="${user.getUserRole() == T(com.rx.dao.UserRole).METHODOLOGIST} or ${user.getUserRole() == T(com.rx.dao.UserRole).HEAD_OF_DEPARTMENT}">
                        <li>
                            <a th:href="@{/report(userId=${user.getId()})}">Стан НМК</a>
                        </li>
                    </th:block>
                    <th:block th:if="${user.getUserRole() == T(com.rx.dao.UserRole).ADMINISTRATOR}">
                        <li>
                            <a th:href="@{/admin/disciplines(userId=${user.getId()})}">Перелік дисциплін</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/users(userId=${user.getId()})}">Перелік користувачів</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/add-user(userId=${user.getId()})}">Додати користувача</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/add-discipline(userId=${user.getId()})}">Додати дисципліну</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </th:block>
    </body>
</html>