<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Upload curriculum</title>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data" action="#" th:action="@{/upload}" th:object="${documentUploadFormDto}">
            <div>
                <label>
                    Документ <input type="file" th:field="*{multipartFile}"/>
                    <label th:if="${#fields.hasErrors('multipartFile')}" th:errors="*{multipartFile}" for="multipartFile"></label>
                    <label th:if="${exception instanceof T(com.rx.controllers.exceptions.FileUploadIOException)}" th:text="#{upload.file.internal.error}" for="multipartFile"></label>
                    <label th:if="${exception instanceof T(com.rx.controllers.exceptions.FileUploadInvalidPathException)}" th:text="#{upload.file.invalid.name}" for="multipartFile"></label>
                </label>
            </div>
            <div>
                <label>
                    Тип <select th:field="*{documentType}">
                        <option th:text="''" th:value="null" selected="selected"></option>
                        <option th:each="documentType: ${T(com.rx.dao.DocumentType).values()}"
                            th:value="${documentType}"
                            th:text="#{${documentType.getString()}}"
                            th:if="${T(com.rx.misc.DocumentRootType).resolve(documentType).isCurriculum()}">
                        </option>
                    </select>
                    <label th:if="${#fields.hasErrors('documentType')}" th:errors="*{documentType}" for="multipartFile"></label>
                </label>
            </div>
            <br/>
            <input type="submit" name="send" value="Загрузить"/>
        </form>
    </body>
</html>