<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Завантаження файлу</title>
        <th:block th:replace="head :: head">Head</th:block>

        <link href="../static/css/fileinput.css" th:href="@{/css/fileinput.css}" media="all" rel="stylesheet" type="text/css"/>
        <link href="../static/themes/explorer/theme.css" th:href="@{/themes/explorer/theme.css}" media="all" rel="stylesheet" type="text/css"/>

        <script src="../static/js/fileinput.js" th:src="@{/js/fileinput.js}"></script>
        <script src="../static/themes/explorer/theme.js" th:src="@{/themes/explorer/theme.js}"></script>
    </head>
    <body>
        <th:block th:replace="nav :: nav">Navigation</th:block>

        <div class="container-fluid container-custom">
            <div class="row">
                <th:block th:replace="sidebar :: sidebar(${#authentication.principal.userRole})">Sidebar</th:block>
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Завантаження файлу</h3>
                        </div>
                        <div class="panel-body">
                            <form id="documentUploadFormDto" method="post" enctype="multipart/form-data" action="#"
                                  th:action="@{'/upload/' + ${type}}"
                                  th:object="${documentUploadFormDto}">

                                <div class="container-fluid">
                                    <div class="row form-group">
                                        <div th:class="${#fields.hasErrors('multipartFile') ? 'col-md-8 has-error has-feedback':'col-md-8'}">
                                            <label class="control-label" for="input-1a multipartFile">Документ</label>
                                            <input id="input-1a multipartFile" type="file" class="file" th:field="*{multipartFile}" data-show-preview="false"/>
                                        </div>
                                    </div>
                                    <label class="col-md-4 control-label" th:if="${#fields.hasErrors('multipartFile')}"
                                           th:errors="*{multipartFile}" for="input-1a multipartFile"></label>
                                    <label class="col-md-4 control-label"
                                           th:if="${exception instanceof T(com.rx.controllers.exceptions.FileUploadIOException)}"
                                           th:text="#{upload.file.internal.error}" for="input-1a multipartFile"></label>
                                    <label class="col-md-4 control-label"
                                           th:if="${exception instanceof T(com.rx.controllers.exceptions.FileUploadInvalidPathException)}"
                                           th:text="#{upload.file.invalid.name}" for="input-1a multipartFile"></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>