<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <div th:if="${user == null}">
            <p th:text="${'User with id ' + id + ' is not exists'}"></p>
        </div>
        <div th:unless="${user == null}">
            <form id="userFormDto" action="#" th:action="@{'/user/' + ${id} + '/admin'}" method="post"
                  th:object="${userFormDto}">
                <label>
                    Логін <input type="text" th:id="login" th:name="login" th:value="${user.getLogin()}"/>
                    <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
                </label>
                <br/>
                <label>
                    Email <input type="email" th:id="email" th:name="email" th:value="${user.getEmail()}"/>
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                </label>
                <br/>
                <label>
                    Пароль <input type="password" th:id="password" th:name="password" th:value="${user.getPassword()}"/>
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                </label>
                <br/>
                <label>
                    Прізвище <input type="text" th:id="lastName" th:name="lastName" th:value="${user.getLastName()}"/>
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                </label>
                <br/>
                <label>
                    Ім'я <input type="text" th:id="firstName" th:name="firstName" th:value="${user.getFirstName()}"/>
                    <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                </label>
                <br/>
                <label>
                    По батькові <input type="text" th:id="middleName" th:name="middleName" th:value="${user.getMiddleName()}"/>
                    <label th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></label>
                </label>
                <br/>
                <label>
                    Роль <select th:id="userRole" th:name="userRole">
                    <option th:text="'Асистент'" th:value="${T(com.rx.dao.UserRole).ASSISTANT_LECTURER}"
                            th:selected="${user.getUserRole() == T(com.rx.dao.UserRole).ASSISTANT_LECTURER}"></option>
                    <option th:text="'Старший викладач'" th:value="${T(com.rx.dao.UserRole).SENIOR_LECTURER}"
                            th:selected="${user.getUserRole() == T(com.rx.dao.UserRole).SENIOR_LECTURER}"></option>
                    <option th:text="'Завідуючий кафедри'" th:value="${T(com.rx.dao.UserRole).HEAD_OF_DEPARTMENT}"
                            th:selected="${user.getUserRole() == T(com.rx.dao.UserRole).HEAD_OF_DEPARTMENT}"></option>
                    <option th:text="'Методист'" th:value="${T(com.rx.dao.UserRole).METHODOLOGIST}"
                            th:selected="${user.getUserRole() == T(com.rx.dao.UserRole).METHODOLOGIST}"></option>
                    </select>
                    <label th:if="${#fields.hasErrors('userRole')}" th:errors="*{userRole}"></label>
                </label>
                <br/>
                <button type="submit" form="userFormDto">Редагувати</button>
            </form>
            <br/>
            <a th:href="@{${'/user/delete-user/' + id}}">Видалити</a>
        </div>
    </body>
</html>