<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Title</title>

        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" th:href="@{/css/normalize.css}"/>
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}"/>
    </head>
    <body>
        <th:block th:fragment="default-user-form">
            <div class="panel-body" th:if="${user == null}">
                <p th:text="${'User with id ' + id + ' is not exists'}"></p>
            </div>
            <div class="panel-body" th:unless="${user == null}">
                <form id="userFormDto" action="#" th:action="@{/user/profile(userId=${id})}" method="post"
                      th:object="${userFormDto}">
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                    <label class="alert alert-danger" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></label>

                    <div class="container-fluid">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Email</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="email" th:id="email" th:name="email" th:value="${user.getEmail()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Пароль</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="password" th:id="password" th:name="password" th:value="${user.getPassword()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Прізвище</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" th:id="lastName" th:name="lastName" th:value="${user.getLastName()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Ім'я</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" th:id="firstName" th:name="firstName" th:value="${user.getFirstName()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>По батькові</p>
                            </div>
                            <div class="col-md-10">
                                <input class="form-control" type="text" th:id="middleName" th:name="middleName" th:value="${user.getMiddleName()}"/>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <p>Роль</p>
                            </div>
                            <div class="col-md-10">
                                <p th:text="|#{${user.getUserRole().getString()}}|"></p>
                            </div>
                        </div>
                        <!--<div>-->
                        <!--<p th:text="'Дисципліни'"></p>-->
                        <!--<div th:each="discipline: ${user.getDisciplines()}">-->
                        <!--<a th:text="${discipline.getName()}" th:href="@{'/admin/get-discipline/' + ${discipline.getId()}}"></a>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="row form-group">
                            <div class="col-md-12">
                                <button class="btn btn-lg btn-success btn-block" type="submit" th:form="'userFormDto'" th:text="'Редагувати'"></button>
                            </div>
                        </div>
                    </div>

                    <!--<a th:href="@{${'/admin/delete-user/' + user.getId()}}">Видалити</a>-->

                </form>
            </div>
        </th:block>

        <script src="../static/js/jquery-3.2.1.js" th:src="@{/js/jquery-3.2.1.js}"></script>
        <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>