<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <div th:if="${user == null}">
            <p th:text="${'User with id ' + id + ' is not exists'}"></p>
        </div>
        <div th:unless="${user == null}">
            <form id="userFormDto" action="#" th:action="@{'/user/get/' + ${id}}" method="post"
                  th:object="${userFormDto}">
                <label>
                    Логін <input type="text" th:value="${user.getLogin()}" th:id="login" th:name="login" readonly="readonly"/>
                    <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
                </label>
                <br/>
                <label>
                    Email <input type="email" th:id="email" th:name="email" th:value="${user.getEmail()}"/>
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                </label>
                <br/>
                <label>
                    Пароль <input type="password" th:id="password" th:name="password" th:value="${user.getPassword()}"/>
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                </label>
                <br/>
                <label>
                    Прізвище <input type="text" th:id="lastName" th:name="lastName" th:value="${user.getLastName()}"/>
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                </label>
                <br/>
                <label>
                    Ім'я <input type="text" th:id="firstName" th:name="firstName" th:value="${user.getFirstName()}"/>
                    <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                </label>
                <br/>
                <label>
                    По батькові <input type="text" th:id="middleName" th:name="middleName" th:value="${user.getMiddleName()}"/>
                    <label th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></label>
                </label>
                <br/>
                <label>
                    Роль <select disabled="disabled">
                    <option th:text="#{${T(com.rx.dao.UserRole).ASSISTANT_LECTURER}}" th:value="${T(com.rx.dao.UserRole).ASSISTANT_LECTURER}"
                            th:selected="${user.getUserRole() == T(com.rx.dao.UserRole).ASSISTANT_LECTURER}"></option>
                    <option th:text="#{${T(com.rx.dao.UserRole).SENIOR_LECTURER}}" th:value="${T(com.rx.dao.UserRole).SENIOR_LECTURER}"
                            th:selected="${user.getUserRole() == T(com.rx.dao.UserRole).SENIOR_LECTURER}"></option>
                    <option th:text="#{${T(com.rx.dao.UserRole).HEAD_OF_DEPARTMENT}}" th:value="${T(com.rx.dao.UserRole).HEAD_OF_DEPARTMENT}"
                            th:selected="${user.getUserRole() == T(com.rx.dao.UserRole).HEAD_OF_DEPARTMENT}"></option>
                    <option th:text="#{${T(com.rx.dao.UserRole).METHODOLOGIST}}" th:value="${T(com.rx.dao.UserRole).METHODOLOGIST}"
                            th:selected="${user.getUserRole() == T(com.rx.dao.UserRole).METHODOLOGIST}"></option>
                    </select>
                    <input type="hidden" th:id="userRole" th:name="userRole" th:value="${user.getUserRole()}"/>
                </label>
                <br/>
                <h3>Педагогічна нагрузка</h3>
                <span th:each="teachingLoad: ${user.getTeachingLoads()}">
                    <a th:text="${teachingLoad.getDocumentFilename()}"></a>
                    <br/>
                </span>
                <br/>
                <h3>Дисципліни</h3>
                <span th:each="discipline: ${user.getDisciplines()}">
                    <a th:text="${discipline.getName()}" th:href="@{'/discipline/get/' + ${discipline.getId()}}"></a>
                    <br/>
                </span>
                <br/>
                <button type="submit" form="userFormDto">Редагувати</button>
                <br/>
                <a th:href="@{${'/user/delete-user/' + user.getId()}}">Видалити</a>
            </form>
        </div>
    </body>
</html>